<!DOCTYPE html>
<html>
  <head>
    <title>記帳軟體</title>
    <link rel="stylesheet" href="/bs/css/bootstrap.min.css">
    <link rel="stylesheet" href="/fontawesome/css/all.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container-md mt-1">
      <div class="input-group input-group-lg">
        <div class="btn btn-primary input-group-text btn-prev">
          <i class="fa-solid fa-caret-left"></i>
        </div>
        <input type="date" class="form-control myDate" value="<%=date%>">
        <div class="btn btn-primary input-group-text btn-next">
          <i class="fa-solid fa-caret-right"></i>
        </div>
        <div class="btn btn-primary input-group-text btn-add">
          <i class="fa-solid fa-calculator"></i>
        </div>
      </div>
      <div class="unit bg-primary mt-2 text-white rounded-top">
        <div class="sn d-flex align-items-center ps-2">#</div>
        <div class="title d-flex align-items-center fs-6">項目名稱</div>
        <div class="btn btn-primary btn-sm fs-6 sort">分類</div>
        <div class="btn btn-primary btn-sm fs-6 money text-end pe-2">金額</div>
      </div>
      <div class="lists">
        <%
          let totalMoney = 0;
          data.forEach((item, index) => {
            totalMoney+=item.money;
            let sortName = sort.find(st => st.id === item.sort);
        %>
        <div class="unit fs-6 list pb-1" idn="<%=item.id%>" title="<%=item.title%>" money="<%=item.money%>" sort="<%=item.sort%>">
          <div class="sn ps-2"><%=index+1%></div>
          <div class="title"><%=item.title%></div>
          <div class="sort"><%=sortName.name%></div>
          <div class="money text-end pe-2"><%=item.money%></div>
        </div>
        <% }); %>
      </div>
      <div class="bg-primary mt-2 text-white rounded-bottom">
        <div class="text-end pe-2 text-white fs-3 totalMoney">
          <%=totalMoney%>
        </div>
      </div>
    </div>
    <div class="offcanvas offcanvas-start" data-bs-scroll="false" data-bs-backdrop="static" tabindex="-1" id="inputArea" aria-labelledby="offcanvasWithBothOptionsLabel">
      <div class="offcanvas-body">
        <form action="/expe" method="post">
          <div class="input-group input-group-lg mb-2">
            <span class="input-group-text">消費名稱</span>
            <input type="text" name="title" class="form-control">
          </div>
          <div class="input-group input-group-lg mb-2">
            <span class="input-group-text">消費金額</span>
            <input type="number" name="money" class="form-control">
          </div>
          <div class="input-group input-group-lg mb-2">
            <span class="input-group-text">消費分類</span>
            <select name="sort" class="form-select">
              <option value selected disabled>請選擇</option>
              <% sort.forEach(item => { %>
              <option value="<%=item.id%>"><%=item.name%></option>
              <% }); %>
            </select>
          </div>
          <input type="hidden" name="date" value="<%=date%>">
          <input type="hidden" name="id">
          <div class="newSet mb-2 d-flex">
            <div class="btn btn-lg btn-success me-2 ms-auto btn-end">結束輸入</div>
            <div class="btn btn-lg btn-primary me-2 btn-send">送出</div>
            <div class="btn btn-lg btn-warning" data-bs-dismiss="offcanvas">取消</div>
          </div>
          <div class="updateSet d-flex">
            <div class="btn btn-lg btn-danger me-2 btn-del">刪除</div>
            <div class="btn btn-lg btn-primary me-2 ms-auto btn-update">送出</div>
            <div class="btn btn-lg btn-warning" data-bs-dismiss="offcanvas">取消</div>
          </div>
        </form>
      </div>
    </div>



    <script src="/bs/js/bootstrap.bundle.min.js"></script>
    <script>
      const myDate = document.querySelector(".myDate");
      const btnPrev = document.querySelector(".btn-prev");
      const btnNext = document.querySelector(".btn-next");
      const btnAdd = document.querySelector(".btn-add");
      const newSet = document.querySelector(".newSet");
      const updateSet = document.querySelector(".updateSet");
      const bsOffcanvas = new bootstrap.Offcanvas("#inputArea");
      const btnSend = document.querySelector(".btn-send");
      const form1 = document.querySelector("form");
      const lists = document.querySelectorAll(".list");
      const btnUpdate = document.querySelector(".btn-update");

      myDate.addEventListener("change", e => {
        let date = e.currentTarget.value;
        window.location.href = `/expe/d/${date}`;
      })

      btnPrev.addEventListener("click", e => {
        let date = new Date(myDate.value);
        date.setDate(date.getDate() - 1);
        let dateString = date.toISOString().split("T")[0];
        window.location.href = `/expe/d/${dateString}`;
      });

      btnNext.addEventListener("click", e => {
        let date = new Date(myDate.value);
        date.setDate(date.getDate() + 1);
        let dateString = date.toISOString().split("T")[0];
        window.location.href = `/expe/d/${dateString}`;
      });

      btnAdd.addEventListener("click", e => {
        document.querySelector("[name=title]").value = "";
        document.querySelector("[name=money]").value = "";
        document.querySelector("[name=id]").value = "";
        document.querySelector("select").selectedIndex = 0;
        newSet.classList.add("d-flex");
        newSet.classList.remove("d-none");
        updateSet.classList.add("d-none");
        updateSet.classList.remove("d-flex");
        bsOffcanvas.show();
      });

      btnSend.addEventListener("click", e => {

        form1.submit();
      });

      lists.forEach(list => {
        list.addEventListener("click", e => {
          const id = e.currentTarget.getAttribute("idn");
          const title = e.currentTarget.getAttribute("title");
          const money = e.currentTarget.getAttribute("money");
          const sort = e.currentTarget.getAttribute("sort");
          document.querySelector("[name=title]").value = title;
          document.querySelector("[name=money]").value = money;
          document.querySelector("[name=id]").value = id;
          document.querySelector("select").selectedIndex = sort;
          newSet.classList.remove("d-flex");
          newSet.classList.add("d-none");
          updateSet.classList.remove("d-none");
          updateSet.classList.add("d-flex");
          bsOffcanvas.show();
        });
      });

      btnUpdate.addEventListener("click", e => {
        let url = "/expe";
        const form2 = document.querySelector("form");
        const dateString = document.querySelector("[name=date]").value;
        const formData = new FormData(form2);
        fetch(url, {
          method: "PUT",
          body: formData
        }).then(response => response.json()).then(result => {
          if(result.result === "success"){
            // 更新第一種方法: 整頁刷新
            // window.location.href = `/expe/d/${dateString}`;
            // 第二種方法: 根據回傳資料, 部分刷新
            updateData(result.data, result.sort2);
          }else{
            alert("更新錯誤")
          };
        }).catch(error => {
          console.log(error);
        });
      });


      function updateData(data, sort2){
        const lists = document.querySelector(".lists");
        const totalMoneyElm = document.querySelector(".totalMoney");
        lists.innerHTML = "";
        let totalMoney = 0;
        data.forEach((item, index) => {
          totalMoney+=item.money;
          let sortName = sort2.find(st => st.id === item.sort);
          const node = document.createElement("div");
          const template = `<div class="unit fs-6 list pb-1" idn="${item.id}" title="${item.title}" money="${item.money}" sort="${item.sort}">
            <div class="sn ps-2">${index+1}</div>
            <div class="title">${item.title}</div>
            <div class="sort">${sortName.name}</div>
            <div class="money text-end pe-2">${item.money}</div>
          </div>`;
          node.innerHTML = template;
          lists.append(node.children[0]);
        });
        totalMoneyElm.innerHTML = totalMoney;
        bsOffcanvas.hide();
      }
    </script>
  </body>
</html>
